@{
    ViewData["Title"] = "Home Page";
}
<h2>Everything you read is a lie</h2>
<p>Select an item from Corpora to generate a set of random text in that theme.</p>
<p><a href="https://en.wikipedia.org/wiki/Markov_chain">What is this?</a></p>
 